/*Barra de categoria*/
.productos-online
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .section,h1{
      margin: 20px;
  }

}
.categoria
{
  
  padding: 20px ;
  background-color: map-get($colores, violeta);

    h3{
        margin: 10px;
    }

  
    @media screen and (max-width: 768px) {
      li{
        display: inline-flex;
        text-align: center;
      } 
    }
}

.checklist {
  list-style-type: none;
  padding-left: 0;

    li {
        margin-bottom: 10px;
    }

    input[type="checkbox"] {   
        margin-right: 10px;
    }
    label {
        display: inline-block;
    }
}

